@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to Northwind Database</h2>
    @*<p class="lead">Pick an option below: </p>*@
    <p><a href="~/Customer" class="btn btn-primary btn-lg">Enter &raquo;</a></p>
    @*<p><a href="http://localhost:62520/Customer/Add" class="btn btn-primary btn-lg">Add New Customer &raquo;</a></p>
    <p><a href="http://localhost:62520/Customer/Delete" class="btn btn-primary btn-lg">Delete Data&raquo;</a></p>
    <p><a href="http://localhost:62520/Customer/Modify" class="btn btn-primary btn-lg">Modify Data&raquo;</a></p>*@
</div>